#playeah-pops .pp-modal-content {
    padding: 13px 16px;
}
#playeah-pops .pp-modal-header .close {
    top: 17.5px;
    right: 7px;
}
#playeah-pops .popup-title {
    font-size: 16px;
    line-height: 1.07;
    margin-bottom: 9px;
}
#playeah-pops .popup-text {
    font-size: 14px;
    line-height: 1;
}
#playeah-pops .btn {
    width: 120px;
    height: 36px;
    background-color: {{color_cta_bg}};
    color : {{color_cta_text}};
    font-size: 14px;
    line-height: 1;
}
#playeah-pops .btn:hover {
    opacity: .85;
}
#playeah-pops .btn:active {
    background-color:{{color_cta_bg}};
}
@media only screen and (max-width: 575px) {
    #playeah-pops .pp-modal-content {
        text-align: center;
        padding: 40px;
    }
    playeah-pops .pp-modal-header .close {
        top: 5px;
        right: 5px;
    }
    #playeah-pops .col-md-auto {
        margin-bottom: 30px;
    }
    #playeah-pops .btn {
        margin-left: 0 !important;
    }
}